.catalog {
    padding: 80px 0 150px;
    .tabs {
        margin-top: -10px;
    }
    .tab {
        font-size: 18px;
        height: 50px;
        strong {
            font-weight: 500;
            margin-left: 10px;
            color: #DD757B;
        }
    }
    .tab--active strong {
        color: #fff;
    }
    .tab__more {
        height: 50px;
    }
    .tab__content {
        margin-top: 100px;
    }
    &__title {
        margin-bottom: 40px;
    }
    &__items {
        margin-top: 40px;
    }
    &__item {
        margin-top: 20px;
    }
}

@media screen and (max-width: 992px) {
    .catalog__items {
        display: grid;
        grid-template-columns: repeat(2, calc(50% - 15px));
        gap: 30px;
    }
}

@media screen and (max-width: 768px) {
    .catalog {
        padding: 40px 0 60px;
        .tab,
        .tab__more {
            padding: 0 10px;
            height: 36px;
            font-size: 14px;
        }
        &__items {
            grid-template-columns: 100%;
            gap: 30px;
            margin-top: 20px;
        }
        &__title {
            margin-bottom: 20px;
        }
        .tab__content {
            margin-top: 40px;
        }
    }
}