@mixin scroll() {
    &::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }
    &::-webkit-scrollbar-track {
        background: #7786A5;
    }
    &::-webkit-scrollbar-thumb {
        background: #2551AF;
        border-radius: 20px;
    }
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.display1 {
    font-weight: bold;
    font-size: 40px;
    line-height: 120%;
    @media screen and (max-width: 992px) {
        font-size: 30px;
    }
    @media screen and (max-width: 768px) {
        font-size: 22px;
    }
}

.display2 {
    font-weight: bold;
    font-size: 30px;
    line-height: 120%;
    @media screen and (max-width: 1200px) {
        font-size: 25px;
    }
    @media screen and (max-width: 768px) {
        font-size: 20px;
    }
}

.card-bg {
    background-color: #fff;
    padding: 30px 0;
    &:not(:first-child) {
        margin-top: 40px;
    }
    @media screen and (max-width: 992px) {
        padding: 16px 0;
        &:not(:first-child) {
            margin-top: 16px;
        }
    }
}

.green-text {
    color: #6FB08D !important;
}

.tabs {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
    @media screen and (max-width: 992px) {
        margin-top: 5px;
    }
}

.tab {
    margin: 10px 10px 0 0;
    background: #F1F7FF;
    border-radius: 10px;
    height: 40px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    font-size: 15px;
    line-height: 140%;
    color: #7786A5;
    transition: all .3s;
    &--hidden {
        display: none;
    }
    &:hover {
        background: #7786A5;
        cursor: pointer;
        color: #FFFFFF;
    }
    &--active {
        background: #7786A5;
        cursor: not-allowed;
        color: #FFFFFF;
    }
    &__content {
        display: none;
        margin-top: 40px;
        &--active {
            display: block;
        }
    }
    &__more {
        margin: 10px 10px 0 0;
        background: #F1F7FF;
        border-radius: 10px;
        height: 40px;
        padding: 0 20px;
        display: flex;
        align-items: center;
        font-size: 15px;
        line-height: 140%;
        color: #7786A5;
        transition: all .3s;
        &:hover {
            background: #7786A5;
            cursor: pointer;
            color: #FFFFFF;
        }
    }
    @media screen and (max-width: 992px) {
        &__content {
            margin-top: 25px;
        }
    }
    @media screen and (max-width: 768px) {
        padding: 0 13px;
        height: 34px;
        margin: 5px 5px 0 0;
        font-size: 13px;
    }
}

.slider {
    position: relative;
    &__nav {
        position: absolute;
        bottom: 30px;
        left: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-width: 165px;
        height: 40px;
        background: #FFFFFF;
        border-radius: 10px;
        padding: 0 10px;
        z-index: 4;
    }
    &__prev,
    &__next {
        position: static;
        width: 24px;
        height: unset;
        margin-top: 0;
        img {
            width: 100%;
        }
        &:after {
            display: none;
        }
    }
    &__pag {
        position: static;
        font-size: 18px;
        line-height: 140%;
        color: #7786A5;
    }
    &__item {
        img {
            width: 100%;
        }
    }
    @media screen and (max-width: 768px) {
        &__nav {
            bottom: 12px;
            left: 12px;
            min-width: 120px;
        }
    }
}

.video-block {
    background: #E0E7EC;
    height: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    &__btn {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100px;
        height: 100px;
        background: #FFFFFF;
        border-radius: 50%;
    }
    @media screen and (max-width: 1100px) {
        height: 500px;
    }
    @media screen and (max-width: 992px) {
        height: 400px;
        &__btn {
            width: 75px;
            height: 75px;
            svg {
                width: 17px;
                height: auto;
            }
        }
    }
    @media screen and (max-width: 768px) {
        height: 300px;
    }
    @media screen and (max-width: 500px) {
        height: 250px;
        &__btn {
            width: 60px;
            height: 60px;
            svg {
                width: 14px;
            }
        }
    }
}

.filter {
    display: flex;
    &__form {
        flex-grow: 1;
        display: flex;
        &-group {
            width: 25%;
            margin-left: -2px;
            &:first-child {
                .select {
                    border-radius: 10px 0px 0px 10px;
                }
            }
        }
    }
    &__btn {
        background: #2551AF;
        border-radius: 0px 10px 10px 0px;
        font-weight: bold;
        font-size: 12px;
        width: 185px;
        height: 60px;
        flex-shrink: 0;
        letter-spacing: 0.1em;
        color: #FFFFFF;
    }
    .select {
        width: 100%;
        height: 60px;
    }
}

.select {
    border-radius: 0;
    float: unset;
    border: 2px solid #7786A5;
    padding: 0;
    font-weight: bold;
    font-size: 12px;
    line-height: 140%;
    letter-spacing: 0.1em;
    color: #7786A5;
    .current {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0 35px 0 20px;
        background-image: url(../img/Arrow-Bottom.svg);
        background-repeat: no-repeat;
        background-position: right 13px center;
        background-size: 14px auto;
    }
    .list {
        border: 2px solid #7786A5;
        border-top: none;
        border-radius: 0;
        margin-top: 0;
        width: calc(100% + 4px);
        margin-left: -2px;
    }
    .option {
        height: 50px;
        display: flex;
        align-items: center;
        border-style: solid;
    }
}

.catalog-card {
    display: flex;
    border: 1.5px solid #E1EDFD;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    &__img {
        width: 280px;
        flex-shrink: 0;
        margin-right: 30px;
        img {
            width: 100%;
        }
    }
    &__right {
        flex-grow: 1;
    }
    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__title {
        font-weight: 500;
        font-size: 22px;
        line-height: 132%;
        color: #2A344A;
    }
    &__more {
        width: 24px;
        img {
            width: 100%;
        }
    }
    &__address {
        font-size: 15px;
        line-height: 132%;
        color: #7786A5;
        margin-top: 10px;
    }
    &__tags {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 10px;
    }
    &__tag {
        margin: 10px 10px 0 0;
        background: #F1F7FF;
        height: 30px;
        display: flex;
        align-items: center;
        padding: 0 10px;
        font-size: 15px;
        color: #2A344A;
    }
    &__favourite {
        &--active,
        &:hover {
            path {
                fill-rule: nonzero;
            }
        }
    }
    &__items {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1.5px solid #E1EDFD;
    }
    &__item {
        margin: 10px 30px 0 0;
        font-size: 16px;
        line-height: 132%;
        color: #7786A5;
        strong {
            color: #2A344A;
            font-weight: 500;
        }
    }
    .main__price {
        &-show {
            svg {
                width: 14px;
                margin-left: 12px;
            }
        }
        &-num {
            font-weight: bold;
            font-size: 22px;
            line-height: 120%;
            span {
                font-size: 22px;
            }
        }
        &-currency {
            margin-top: 20px;
        }
    }
}

.pagination {
    margin-top: 40px;
    display: flex;
    &__wrap {
        display: flex;
        align-items: center;
        border: 2px solid #F1F7FF;
        border-radius: 10px;
        height: 50px;
        overflow: hidden;
    }
    &__prev,
    &__next {
        width: 64px;
        height: 100%;
        &:hover {
            background: #F1F7FF;
        }
    }
    &__item {
        width: 51px;
        height: 100%;
        font-size: 18px;
        line-height: 140%;
        color: #7786A5;
        &--active,
        &:hover {
            background: #F1F7FF;
            color: #2A344A;
            font-weight: 600;
        }
    }
}

.form-group {
    position: relative;
    height: 60px;
    &>label {
        position: absolute;
        left: 20px;
        top: 0;
        transform: translateY(-50%);
        font-size: 13px;
        line-height: 150%;
        color: #7786A5;
        padding: 0 10px;
        background-color: #fff;
        z-index: 3;
    }
    &__wrap {
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0 70px 0 20px;
        font-size: 16px;
        line-height: 150%;
        position: relative;
        z-index: 2;
        border: 2px solid #7786A5;
        border-radius: 10px;
        &--disable {
            pointer-events: none;
            .form-group__arrow img {
                transform: rotate(180deg);
            }
        }
        &--dropdown {
            cursor: pointer;
        }
    }
    &__info {
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__arrow {
        width: 18px;
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        img {
            width: 100%;
            transition: all .1s;
        }
    }
    &__range {
        position: absolute;
        bottom: 0px;
        left: 0;
        width: 100%;
        padding: 0 10px;
        z-index: 3;
    }
    &__num2 {
        color: #2551AF;
    }
    .ui-widget.ui-widget-content {
        border: none;
        height: 2px;
        background-color: #4F86FF;
    }
    .ui-widget-header {
        background-color: #7786A5;
    }
    .ui-slider-horizontal .ui-slider-handle {
        width: 20px;
        height: 20px;
        background: #2551AF;
        border-radius: 50%;
        border: none;
        top: -9.5px;
        outline: none !important;
        cursor: pointer;
        &:before {
            content: '';
            position: absolute;
            box-sizing: border-box;
            z-index: 1;
            border: 2px solid #FFFFFF;
            width: 14px;
            height: 14px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 50%;
        }
    }
    .ui-state-default,
    .ui-widget-content .ui-state-default,
    .ui-widget-header .ui-state-default,
    .ui-button,
    html .ui-button.ui-state-disabled:hover,
    html .ui-button.ui-state-disabled:active {
        border: none;
    }
    &__dropdown {
        position: absolute;
        left: 0;
        top: 70px;
        border: 2px solid #E1EDFD;
        border-top: none;
        width: 100%;
        border-radius: 0 0 10px 10px;
        z-index: 4;
        opacity: 0;
        pointer-events: none;
        transition: all .3s;
        &--active {
            opacity: 1;
            pointer-events: unset;
        }
        &::before,
        &::after {
            content: '';
            position: absolute;
            z-index: 1;
            width: 2px;
            height: 16px;
            background-color: #E1EDFD;
            left: -2px;
            bottom: 100%;
            border-top-right-radius: 20px;
        }
        &::after {
            left: unset;
            right: -2px;
            border-top-left-radius: 20px;
            border-top-right-radius: 0;
        }
        &-item {
            height: 44px;
            // background: #F1F7FF;
            display: flex;
            align-items: center;
            color: #7786A5;
            position: relative;
            &:last-child {
                label {
                    border-radius: 0 0 10px 10px;
                }
            }
            input {
                position: absolute;
                opacity: 0;
                &:checked+label {
                    background: #F1F7FF;
                    color: #2A344A;
                    &:before {
                        background-color: #6FB08D;
                        border-color: #6FB08D;
                        background-image: url(../img/check2.svg);
                        background-repeat: no-repeat;
                        background-position: center;
                    }
                }
            }
            label {
                cursor: pointer;
                width: 100%;
                height: 100%;
                // top: 0;
                // left: 0;
                padding: 0 70px 0 52px;
                background-color: #fff;
                display: flex;
                align-items: center;
                &:before {
                    box-sizing: border-box;
                    content: '';
                    position: absolute;
                    z-index: 1;
                    border: 1.5px solid #E1EDFD;
                    left: 20px;
                    width: 20px;
                    height: 20px;
                    top: 50%;
                    transform: translateY(-50%);
                    border-radius: 50%;
                }
            }
        }
    }
    &__check {
        position: relative;
        input {
            position: absolute;
            opacity: 0;
            &:checked+label {
                background: #F1F7FF;
                color: #2A344A;
                &:before {
                    background-color: #2551AF;
                    border-color: #2551AF;
                    background-image: url(../img/check2.svg);
                    background-repeat: no-repeat;
                    background-position: center;
                }
            }
        }
        label {
            position: relative;
            padding-left: 40px;
            cursor: pointer;
            &:before {
                box-sizing: border-box;
                content: '';
                position: absolute;
                z-index: 1;
                border: 2px solid #E1EDFD;
                border-radius: 5px;
                width: 20px;
                height: 20px;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
}

.ui-widget-header {}