@mixin scroll() {
    &::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }
    &::-webkit-scrollbar-track {
        background: #fff;
    }
    &::-webkit-scrollbar-thumb {
        background: #E1EDFD;
        border-radius: 50px;
    }
}

@mixin scroll2() {
    .mCSB_scrollTools .mCSB_draggerRail {
        background: transparent;
        border: none;
    }
    .mCSB_scrollTools .mCSB_dragger {
        z-index: 2;
    }
    .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
        background: #E1EDFD;
        border: none;
        border-radius: 50px;
        width: 6px;
    }
    .mCSB_scrollTools {
        width: 6px;
        opacity: 1;
        margin-right: 7px;
    }
    .mCSB_inside>.mCSB_container {
        margin-right: 0;
    }
}

.btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0;
}

.display1 {
    font-weight: bold;
    font-size: 40px;
    line-height: 120%;
    @media screen and (max-width: 1152px) {
        font-size: 32px;
    }
    @media screen and (max-width: 768px) {
        font-size: 22px;
    }
}

.display2 {
    font-weight: bold;
    font-size: 30px;
    line-height: 120%;
    @media screen and (max-width: 1200px) {
        font-size: 25px;
    }
    @media screen and (max-width: 768px) {
        font-size: 18px;
    }
}

.card-bg {
    background-color: #fff;
}

.green-text {
    color: #6FB08D !important;
}

.tabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 30px;
    @media screen and (max-width: 768px) {
        margin-top: 10px;
    }
}

.tab {
    margin: 10px 10px 0 0;
    background: #F1F7FF;
    border-radius: 10px;
    height: 40px;
    padding: 0 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 15px;
    line-height: 140%;
    color: #7786A5;
    -webkit-transition: all .1s;
    -o-transition: all .1s;
    transition: all .1s;
    &--hidden {
        display: none;
    }
    &:hover {
        background: #E1EDFD;
        cursor: pointer;
        color: #2A344A;
    }
    &:active {
        background: #7786A5;
        color: #FFFFFF;
    }
    &--active {
        background: #7786A5;
        color: #FFFFFF;
        pointer-events: none;
    }
    &__content {
        display: none;
        margin-top: 40px;
        &--active {
            display: block;
        }
    }
    &__more {
        margin: 10px 10px 0 0;
        background: #F1F7FF;
        border-radius: 10px;
        height: 40px;
        padding: 0 20px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        font-size: 15px;
        line-height: 140%;
        color: #7786A5;
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
        &:hover {
            background: #7786A5;
            cursor: pointer;
            color: #FFFFFF;
        }
    }
    @media screen and (max-width: 768px) {
        padding: 0 10px;
        height: 36px;
        font-size: 14px;
        &:hover {
            background: #7786A5;
            color: #FFFFFF;
        }
        &__content {
            margin-top: 20px;
        }
    }
}

.slider {
    position: relative;
    &__nav {
        position: absolute;
        bottom: 30px;
        left: 30px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        min-width: 165px;
        height: 40px;
        background: #FFFFFF;
        border-radius: 10px;
        z-index: 4;
        overflow: hidden;
    }
    &__prev,
    &__next {
        position: static;
        width: 24px;
        height: unset;
        margin-top: 0;
        width: 49px;
        height: 100%;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        &:hover {
            background: #F1F7FF;
        }
        img {
            width: 24px;
        }
        &:after {
            display: none;
        }
    }
    &__pag {
        position: static;
        font-size: 16px;
        line-height: 140%;
        color: #7786A5;
    }
    &__item {
        img {
            width: 100%;
        }
    }
    .swiper-pagination-current {
        color: #2A344A;
        font-size: 18px;
    }
    @media screen and (max-width: 768px) {
        &__nav {
            bottom: 12px;
            left: 12px;
            // min-width: 120px;
        }
    }
}

.video-block {
    background: #E0E7EC;
    height: 650px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    &:before {
        content: '';
        position: absolute;
        z-index: 1;
        background: rgba(42, 52, 74, 0.25);
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
    }
    &__btn {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 100px;
        height: 100px;
        background: #FFFFFF;
        border-radius: 50%;
        z-index: 2;
        svg {
            margin-left: 6px;
        }
        &:hover {
            background: #7786A5;
            path {
                fill: #fff;
            }
        }
    }
    @media screen and (max-width: 1100px) {
        height: 500px;
    }
    @media screen and (max-width: 992px) {
        height: 400px;
        &__btn {
            width: 75px;
            height: 75px;
            svg {
                width: 17px;
                height: auto;
            }
        }
    }
    @media screen and (max-width: 768px) {
        height: 300px;
    }
    @media screen and (max-width: 500px) {
        height: 250px;
        &__btn {
            width: 60px;
            height: 60px;
            svg {
                width: 14px;
            }
        }
    }
}

.filter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    &__form {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        &-group {
            width: 25%;
            margin-left: -2px;
            &:first-child {
                .select {
                    border-radius: 10px 0px 0px 10px;
                }
            }
        }
    }
    &__btn {
        background: #2551AF;
        border-radius: 0px 10px 10px 0px;
        font-weight: bold;
        font-size: 12px;
        width: 185px;
        height: 60px;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        letter-spacing: 0.1em;
        color: #FFFFFF;
        &:hover {
            background: #1A3B83;
        }
    }
    .select {
        width: 100%;
        height: 60px;
    }
}

.select {
    border-radius: 0;
    float: unset;
    border: 2px solid #7786A5;
    padding: 0;
    font-weight: bold;
    font-size: 12px;
    line-height: 140%;
    letter-spacing: 0.1em;
    color: #7786A5;
    .current {
        width: 100%;
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 0 35px 0 20px;
        background-image: url(../img/Arrow-Bottom.svg);
        background-repeat: no-repeat;
        background-position: right 13px center;
        background-size: 14px auto;
    }
    .list {
        border: 2px solid #7786A5;
        border-top: none;
        border-radius: 0;
        margin-top: 0;
        width: calc(100% + 4px);
        margin-left: -2px;
    }
    .option {
        height: 50px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        border-style: solid;
    }
}

.catalog-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: 1.5px solid #E1EDFD;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    position: relative;
    &:before {
        box-sizing: border-box;
        content: '';
        position: absolute;
        z-index: 1;
        width: calc(100% + 2px);
        height: calc(100% + 2px);
        border: 2px solid #7786A5;
        border-radius: 10px;
        left: -1px;
        top: -1px;
        pointer-events: none;
        opacity: 0;
        transition: all .3s;
    }
    &:hover {
        &:before {
            opacity: 1;
        }
    }
    &__img {
        width: 280px;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        margin-right: 30px;
        img {
            width: 100%;
        }
    }
    &__right {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
    }
    &__top {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        position: relative;
    }
    &__title {
        font-weight: 500;
        font-size: 22px;
        line-height: 132%;
        color: #2A344A;
        display: block;
        &:hover {
            color: #2551AF;
        }
    }
    &__more {
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        img {
            width: 24px;
        }
        &:hover {
            background: #F1F7FF;
        }
    }
    &__dropdown {
        position: absolute;
        right: 0;
        top: 0;
        background: #FFFFFF;
        border: 2px solid #E1EDFD;
        border-radius: 10px;
        padding: 10px 0;
        width: 200px;
        opacity: 0;
        pointer-events: none;
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
        visibility: hidden;
        &--active {
            opacity: 1;
            visibility: visible;
            pointer-events: unset;
        }
        &-item {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: start;
            -ms-flex-pack: start;
            justify-content: flex-start;
            padding: 10px 18px;
            font-size: 16px;
            line-height: 132%;
            color: #7786A5;
            width: 100%;
            &:hover {
                background: #F1F7FF;
                color: #2A344A;
            }
        }
    }
    &__address {
        font-size: 15px;
        line-height: 132%;
        color: #7786A5;
        margin-top: 10px;
    }
    &__tags {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-top: 10px;
    }
    &__tag {
        margin: 10px 10px 0 0;
        background: #F1F7FF;
        height: 30px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 0 10px;
        font-size: 15px;
        color: #2A344A;
    }
    &__favourite {
        &--active,
        &:hover {
            path {
                fill-rule: nonzero;
            }
        }
    }
    &__items {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1.5px solid #E1EDFD;
    }
    &__item {
        margin: 10px 30px 0 0;
        font-size: 16px;
        line-height: 132%;
        color: #7786A5;
        strong {
            color: #2A344A;
            font-weight: 500;
        }
    }
    .main__price {
        &-show {
            svg {
                width: 14px;
                margin-left: 12px;
            }
        }
        &-num {
            font-weight: bold;
            font-size: 22px;
            line-height: 120%;
            span {
                font-size: 22px;
            }
        }
        &-currency {
            margin-top: 20px;
        }
    }
    @media screen and (max-width: 992px) {
        display: block;
        &__top {
            position: static;
        }
        &__img {
            width: 100%;
            margin-bottom: 20px;
        }
        &__items {
            margin-top: 0;
        }
        &__item {
            margin: 20px 20px 0 0;
        }
        .main__price {
            margin-top: 20px;
            width: calc(100% - 40px);
        }
        &__more {
            right: 20px;
            bottom: 22px;
            position: absolute;
            z-index: 2;
        }
        &__dropdown {
            right: 20px;
            top: unset;
            bottom: 22px;
            z-index: 3;
        }
    }
}

.pagination {
    margin-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    &__wrap {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        border: 2px solid #F1F7FF;
        border-radius: 10px;
        height: 50px;
        overflow: hidden;
    }
    &__prev,
    &__next {
        width: 64px;
        height: 100%;
        &:hover {
            background: #F1F7FF;
        }
    }
    &__item {
        width: 51px;
        height: 100%;
        font-size: 18px;
        line-height: 140%;
        color: #7786A5;
        &--active,
        &:hover {
            background: #F1F7FF;
            color: #2A344A;
            font-weight: 600;
        }
    }
}

.form-group {
    position: relative;
    &>label {
        position: absolute;
        left: 20px;
        top: 0;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        font-size: 13px;
        line-height: 150%;
        color: #7786A5;
        padding: 0 10px;
        background-color: #fff;
        z-index: 3;
    }
    &>.label--active {
        z-index: 6;
    }
    &__wrap {
        min-height: 60px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 16px 70px 16px 20px;
        font-size: 16px;
        line-height: 150%;
        position: relative;
        z-index: 2;
        border: 2px solid #7786A5;
        border-radius: 10px;
        &--disable {
            pointer-events: none;
            z-index: 5;
            .form-group__arrow img {
                -webkit-transform: rotate(180deg);
                -ms-transform: rotate(180deg);
                transform: rotate(180deg);
            }
            &~.form-group__range {
                z-index: 5;
            }
        }
        &--dropdown {
            cursor: pointer;
        }
        .form-group__check {
            label {
                display: block;
                background: transparent !important;
            }
        }
    }
    &__info {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    &__arrow {
        width: 18px;
        position: absolute;
        right: 20px;
        top: 20px;
        img {
            width: 100%;
            -webkit-transition: all .1s;
            -o-transition: all .1s;
            transition: all .1s;
        }
    }
    &__range {
        position: absolute;
        bottom: 0px;
        left: 0;
        width: 100%;
        z-index: 3;
        // transform: translateY(50%);
    }
    &__num2 {
        color: #2551AF;
    }
    .ui-widget.ui-widget-content {
        border: none;
        height: 2px;
        background-color: #4F86FF;
        width: calc(100% - 20px);
        margin: 0 auto;
        border-radius: 0;
        &:before {
            content: '';
            position: absolute;
            z-index: 1;
            height: 10px;
            width: 100%;
            left: 0;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
        }
    }
    .ui-widget-header {
        background-color: #7786A5;
    }
    .ui-slider-handle {
        width: 20px;
        height: 20px;
        background: #2551AF;
        border-radius: 50%;
        border: none;
        top: -9.5px;
        outline: none !important;
        cursor: pointer;
        z-index: 3;
        &:before {
            content: '';
            position: absolute;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            z-index: 1;
            border: 2px solid #FFFFFF;
            width: 14px;
            height: 14px;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            border-radius: 50%;
        }
        &:hover {
            background: #1A3B83;
        }
    }
    .ui-state-default,
    .ui-widget-content .ui-state-default,
    .ui-widget-header .ui-state-default,
    .ui-button,
    html .ui-button.ui-state-disabled:hover,
    html .ui-button.ui-state-disabled:active {
        border: none;
    }
    &__dropdown {
        position: absolute;
        left: 0;
        top: 53px;
        padding: 17px 0 0 0;
        border: 2px solid #E1EDFD;
        border-top: none;
        width: 100%;
        border-radius: 0 0 10px 10px;
        z-index: 4;
        opacity: 0;
        pointer-events: none;
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
        overflow: hidden;
        background-color: #fff;
        &--active {
            opacity: 1;
            pointer-events: unset;
        }
        &-inner {
            max-height: 343px;
            min-height: 0;
            overflow-y: auto;
            @include scroll2();
            background-color: #fff;
        }
        &-item {
            height: 44px;
            // background: #F1F7FF;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            color: #7786A5;
            position: relative;
            &:last-child {
                label {
                    border-radius: 0 0 10px 10px;
                }
            }
            input {
                position: absolute;
                opacity: 0;
                &:checked+label {
                    // background: #F1F7FF;
                    // color: #2A344A;
                    &:before {
                        background-color: #6FB08D;
                        border-color: #6FB08D;
                        background-image: url(../img/check2.svg);
                        background-repeat: no-repeat;
                        background-position: center;
                    }
                }
            }
            label {
                cursor: pointer;
                width: 100%;
                height: 100%;
                // top: 0;
                // left: 0;
                padding: 0 70px 0 52px;
                background-color: #fff;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                &:hover {
                    background: #F1F7FF;
                    color: #2A344A;
                    &::before {
                        border-color: #7786A5;
                    }
                }
                &:before {
                    -webkit-box-sizing: border-box;
                    box-sizing: border-box;
                    content: '';
                    position: absolute;
                    z-index: 1;
                    border: 1.5px solid #E1EDFD;
                    left: 20px;
                    width: 20px;
                    height: 20px;
                    top: 50%;
                    -webkit-transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                    transform: translateY(-50%);
                    border-radius: 50%;
                }
            }
        }
    }
    &__check {
        position: relative;
        input {
            position: absolute;
            opacity: 0;
            &:checked+label {
                background: #F1F7FF;
                color: #2A344A;
                &:before {
                    background-color: #2551AF;
                    border-color: #2551AF;
                    background-image: url(../img/check2.svg);
                    background-repeat: no-repeat;
                    background-position: center;
                }
                &:hover:before {
                    background-color: #1A3B83;
                    border-color: #1A3B83;
                }
            }
            &:disabled:checked {
                &+label:before {
                    background-color: #7786A5;
                    border-color: #7786A5;
                }
            }
        }
        label {
            position: relative;
            padding-left: 40px;
            cursor: pointer;
            display: block;
            line-height: 120%;
            &:before {
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                content: '';
                position: absolute;
                z-index: 1;
                border: 2px solid #7786A5;
                border-radius: 5px;
                width: 20px;
                height: 20px;
                left: 0;
                top: 50%;
                -webkit-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                transform: translateY(-50%);
            }
        }
    }
    @media screen and (max-width: 768px) {
        &__wrap {
            padding-right: 38px;
            .form-group__check {
                label {
                    width: calc(100% + 11px);
                    line-height: 120%;
                }
                &+.form-group__num2 {
                    padding-left: 30px;
                    line-height: 150%;
                }
            }
        }
        &__arrow {
            right: 10px;
        }
        &__num2 {
            white-space: nowrap;
        }
        &__info {
            flex-wrap: wrap;
        }
        &__check {
            label {
                padding-left: 30px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    #finishDate {
        grid-row: 2/3;
    }
    #homeSquare {
        grid-row: 3/4;
    }
    #firstPay {
        grid-row: 4/5;
    }
    #buyMethod {
        grid-row: 5/6;
    }
}

.ui-widget-header {}

.apexcharts-tooltip {
    // opacity: 1 !important;
    top: 0 !important;
    &--right {
        -webkit-transform: translateX(-50%) !important;
        -ms-transform: translateX(-50%) !important;
        transform: translateX(-50%) !important;
    }
    &--left {
        -webkit-transform: translateX(50%) !important;
        -ms-transform: translateX(50%) !important;
        transform: translateX(50%) !important;
    }
}

.apexcharts-tooltip {
    border: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    background-color: transparent !important;
}

.apexcharts-tooltip-title {
    background-color: transparent !important;
    border: none !important;
    text-align: center !important;
    font-family: 'Roboto' !important;
    font-weight: normal !important;
    font-size: 14px !important;
    line-height: 140% !important;
    color: #7786A5 !important;
    padding: 0 !important;
    margin: 0 !important;
}

.apexcharts-tooltip-series-group {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
}

.apexcharts-tooltip-y-group {
    padding: 0 !important;
    font-family: 'Roboto' !important;
    font-weight: normal !important;
    font-size: 14px !important;
    line-height: 140% !important;
    color: #2A344A !important;
}

.backdrop {
    z-index: 9;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(#000, 0.5);
}

.gallery-modal {
    position: fixed;
    height: 100vh;
    background-color: #fff;
    width: 100%;
    left: 0;
    top: 0;
    padding: 0 0 10px;
    z-index: 10;
    overflow-y: auto;
    display: none;
    @include scroll();
    &--active {
        display: block;
    }
    &__top {
        padding: 10px 0;
        background-color: #fff;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        width: 100%;
    }
    &__close {
        width: 60px;
        height: 60px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin: 0 0 10px auto;
        border-radius: 50%;
        &:hover {
            background: #F1F7FF;
            path {
                fill: #2A344A;
            }
        }
    }
    &__img {
        img {
            width: 100%;
            display: block;
        }
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }
}

.page-item {
    padding: 40px 0;
    transition: all .3s;
    @media screen and (max-width: 1152px) {
        padding: 20px 0;
        .page-item__top {
            svg {
                width: 24px;
                height: auto;
            }
        }
    }
    &:not(:first-child) {
        margin-top: 20px;
    }
    &:hover {
        background: #2A344A;
        color: #fff;
        cursor: pointer;
        .page-item__top {
            path {
                fill: #fff;
            }
        }
    }
    &--active {
        padding: 80px 0;
        @media screen and (max-width: 1152px) {
            padding: 40px 0;
            &:not(:first-child) {
                margin-top: 20px;
            }
        }
        &:not(:first-child) {
            margin-top: 40px;
        }
        &:hover {
            background: #fff;
            color: #07122A;
            .page-item__top path {
                fill: #2A344A;
            }
        }
        .page-item__top {
            svg {
                transform: rotate(180deg);
            }
        }
    }
    &__top {
        &-inner {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
    &__bottom {
        display: none;
        background: transparent !important;
    }
}