body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.image-block,
.text-block {
  padding: 100px 0;
}
.image-block:not(:first-child),
.text-block:not(:first-child) {
  margin-top: 42px;
}
.image-block--p0,
.text-block--p0 {
  padding: 0 !important;
}

.image__items {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}
.image__item img {
  width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
}

.image2__items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
.image2__item img {
  width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
}

.image3__items,
.image5__items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  position: relative;
}
.image3__item img,
.image5__item img {
  width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
}

.image4__items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
}
.image4__item img {
  width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
}

@media screen and (min-width: 768px) {
  .image5__item--r13 {
    grid-row: 1/3;
  }
  .image5__item--r35 {
    grid-row: 3/5;
  }
  .image5__item--r57 {
    grid-row: 5/7;
  }
  .image5__item--c12 {
    grid-column: 1/2;
  }
  .image5__item--c13 {
    grid-column: 1/3;
  }
  .image5__item--c23 {
    grid-column: 2/3;
  }
  .image5__item--c34 {
    grid-column: 3/4;
  }
  .image5__item--c24 {
    grid-column: 2/4;
  }
}

.image6__items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
.image6__item img {
  width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
}
@media screen and (min-width: 768px) {
  .image6__item--r13 {
    grid-row: 1/3;
  }
  .image6__item--r35 {
    grid-row: 3/5;
  }
  .image6__item--c23 {
    grid-column: 2/3;
  }
}

.image7 {
  padding-bottom: 300px;
}
.image7__items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}
.image7__item img {
  width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
}
@media screen and (min-width: 768px) {
  .image7__item--r13 {
    grid-row: 1/3;
  }
  .image7__item--r12 {
    grid-row: 1/2;
  }
  .image7__item--r24 {
    grid-row: 2/4;
  }
  .image7__item--r46 {
    grid-row: 4/6;
  }
  .image7__item--r45 {
    grid-row: 4/5;
  }
  .image7__item:nth-child(3n - 2) {
    transform: translateY(200px);
  }
  .image7__item:nth-child(3n) {
    transform: translateY(100px);
  }
}

.open-gallery {
  background: #F1F7FF;
  border-radius: 10px;
  width: 165px;
  height: 40px;
  font-size: 15px;
  line-height: 140%;
  color: #7786A5;
  z-index: 2;
  position: absolute;
  bottom: 30px;
  right: 100px;
  z-index: 2;
}
.open-gallery span {
  margin-right: 5px;
}

.text-page-top {
  padding: 60px 0 40px;
}
.text-page-top__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
}
.text-page-top__back {
  margin-top: 20px;
  display: flex;
  align-items: center;
  font-size: 18px;
  line-height: 140%;
  color: #2551AF;
}
.text-page-top__back svg {
  margin-right: 10px;
}
.text-page-top__back:hover {
  color: #2551AF;
}
.text-page-top__back:hover svg {
  transform: translateX(10px);
}

.container--big {
  max-width: 100%;
  padding: 0;
}

.text-block__title {
  max-width: 970px;
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  margin-bottom: 50px;
}
.text-block__title:not(:first-child) {
  margin-top: 100px;
}
.text-block__title--mb100 {
  margin-bottom: 100px;
}
.text-block__title--mb40 {
  margin-bottom: 40px;
}
.text-block__desc {
  max-width: 970px;
  color: #2A344A;
  font-size: 20px;
}
.text-block__desc + .text-block__more {
  margin-top: -30px;
}
.text-block__desc-hidden {
  display: none;
}
.text-block__desc-show {
  display: unset;
}
.text-block__desc-more {
  display: inline-flex;
}
.text-block__desc-more-hide {
  display: none;
}
.text-block__desc-more--active .text-block__desc-more-hide {
  display: unset;
}
.text-block__desc-more--active .text-block__desc-more-show {
  display: none;
}
.text-block__desc p {
  line-height: 160%;
}
.text-block__desc p:not(:last-child) {
  margin-bottom: 40px;
}
.text-block__desc p button {
  font-size: inherit;
  line-height: inherit;
}
.text-block__desc:not(:last-child) {
  margin-bottom: 50px;
}
.text-block__desc--bg {
  background: #E1EDFD;
  padding: 40px;
  font-style: italic;
}
.text-block__desc--border {
  border: 10px solid #E1EDFD;
  padding: 30px;
  font-style: italic;
}
.text-block__desc--mb100 {
  margin-bottom: 100px;
}
.text-block__more {
  justify-content: flex-start;
  font-size: 18px;
  line-height: 140%;
  color: #2551AF;
}
.text-block__more svg {
  margin-left: 10px;
}
.text-block__more--arrow:hover svg {
  margin-left: 0;
}
.text-block__img {
  max-width: 970px;
}
.text-block__img:not(:last-child) {
  margin-bottom: 50px;
}
.text-block__img img {
  width: 100%;
}
.text-block__nav {
  max-width: 970px;
  margin-top: -10px;
}
.text-block__btn {
  margin: 40px auto 0;
  border-radius: 10px;
  width: 230px;
  height: 50px;
  font-size: 18px;
}
.text-block__gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.text-block__gallery-item img {
  width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
}
.text-block__info {
  display: grid;
  grid-template-columns: calc(50% - 15px) calc(50% - 15px);
  gap: 30px;
}
@media screen and (min-width: 992px) {
  .text-block__info--reverse .text-block__info-img {
    margin-left: unset;
    margin-right: auto;
  }
  .text-block__info--reverse .text-block__info-wrap {
    margin-left: auto;
  }
  .text-block__info--reverse .text-block__info-right {
    order: -1;
    padding-right: 100px;
  }
  .text-block__info--reverse .text-block__info-right--pl0 {
    padding-left: 0;
  }
}
.text-block__info:not(:last-child) {
  margin-bottom: 30px;
}
.text-block__info .video-block {
  background: transparent;
  max-width: 905px;
  height: unset;
  margin-left: auto;
}
.text-block__info .video-block img {
  width: 100%;
}
.text-block__info-right {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 100px;
  flex-shrink: 0;
}
.text-block__info-left {
  display: flex;
}
.text-block__info-wrap {
  max-width: 470px;
  padding: 20px 0;
}
.text-block__info .text-block__btn {
  margin-left: 0;
  margin-top: 40px;
}
.text-block__info-img {
  height: 100%;
  margin-left: auto;
}
.text-block__info-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.text-block__info .slider {
  max-width: 905px;
  width: 100%;
}
.text-block__info .slider .swiper-wrapper {
  align-items: stretch;
}
.text-block__info .slider .swiper-slide {
  height: auto;
}
.text-block__info .slider .swiper-slide img {
  height: 100%;
  object-fit: cover;
}
.text-block__info .swiper-container {
  height: 100%;
  max-height: 585px;
}
.text-block__info2:not(:first-child) {
  margin-top: 100px;
}
.text-block__info2 .text-block__title {
  font-size: 30px;
  line-height: 120%;
}
.text-block__info2 .text-block__title:not(:last-child) {
  margin-bottom: 40px;
}
.text-block__info3 .slider {
  max-width: 570px;
}
.text-block__articles {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px 30px;
}
.text-block__articles--three {
  grid-template-columns: 1fr 1fr 1fr;
}
.text-block__articles--four {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.text-block__articles--870 {
  max-width: 870px;
}
.text-block__articles--1100 {
  max-width: 1100px;
}
.text-block__articles--gap70 {
  column-gap: 70px;
}
.text-block__articles--gap100 {
  column-gap: 100px;
}
.text-block__articles:not(:first-child) {
  margin-top: 100px;
}
.text-block__articles:not(:last-child) {
  margin-bottom: 100px;
}
.text-block__article-icon {
  background: #EEF1F5;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.text-block__article-icon img {
  max-width: 40px;
}
.text-block__article-img img {
  width: 100%;
  display: block;
}
.text-block__article-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 120%;
  margin-top: 30px;
  padding-right: 55px;
}
.text-block__article-title--small {
  font-size: 22px;
}
.text-block__article-desc {
  font-size: 18px;
  line-height: 160%;
  margin-top: 30px;
  color: #2A344A;
}
.text-block__article-link {
  font-size: 18px;
  line-height: 140%;
  color: #2551AF;
  margin-top: 18px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.text-block__article-link svg {
  margin-left: 10px;
}
.text-block__article-link:hover {
  color: #2551AF;
}
.text-block__flats {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 100px 30px;
  margin-top: 100px;
}
.text-block__flat-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
}
.text-block__flat-desc {
  font-size: 18px;
  line-height: 160%;
  margin-top: 30px;
  color: #2A344A;
}

.text-btn {
  color: #2551AF;
  font-size: 18px;
  line-height: 140%;
}

@media screen and (max-width: 1300px) {
  .text-block {
    padding-top: 80px;
  }
  .text-block:not(:first-child) {
    margin-top: 20px;
  }
  .text-block__title:not(:last-child), .text-block__desc:not(:last-child) {
    margin-bottom: 40px;
  }
  .text-block__desc + .text-block__more {
    margin-top: -20px;
  }
  .text-block__info .text-block__title {
    font-size: 32px;
  }
  .text-block__info .text-block__desc {
    font-size: 18px;
  }
  .text-block__info--reverse .text-block__info-right {
    padding-right: 0;
    padding-left: 35px;
  }
  .text-block__info-right {
    padding-right: 35px;
  }

  .image-block:not(:first-child) {
    margin-top: 20px;
  }

  .text-page-top {
    padding: 40px 0 60px;
  }

  .content {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (max-width: 1152px) {
  .text-page-top {
    padding: 60px 0 20px;
  }
  .text-page-top__title {
    font-size: 32px;
  }
  .text-page-top__back {
    font-size: 16px;
  }

  .text-block__title {
    font-size: 32px;
  }
  .text-block__desc {
    font-size: 18px;
  }
  .text-block__btn {
    font-size: 16px;
    width: 200px;
  }
  .text-block__gallery {
    gap: 20px;
  }
  .text-block__info-right {
    padding-left: 10px;
  }
  .text-block__info2--wrap {
    display: block;
    max-width: 746px;
  }
  .text-block__info2--wrap:nth-child(even) {
    margin-left: auto;
  }
  .text-block__info2--wrap:nth-child(even) .text-block__info-right {
    padding-left: 0;
    padding-right: 66px;
  }
  .text-block__info2--wrap .text-block__info-wrap {
    max-width: 100%;
  }
  .text-block__info2--wrap .text-block__info-right {
    padding: 40px 0 0 66px;
  }
  .text-block .slider {
    max-width: 100%;
  }
  .text-block__articles {
    gap: 100px 20px;
  }
  .text-block__article-title {
    padding-right: 0;
    margin-top: 20px;
    font-size: 26px;
    font-weight: 500;
  }
  .text-block__article-title--small {
    font-size: 18px;
  }
  .text-block__article-title--small2 {
    font-size: 22px;
    margin-top: 30px;
  }
  .text-block__article-title--small3 {
    font-size: 16px;
  }
  .text-block__article-desc {
    font-size: 16px;
    margin-top: 20px;
  }
  .text-block__article-desc--small {
    font-size: 14px;
    margin-top: 11px;
  }
  .text-block__flats {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 100px 40px;
    max-width: 860px;
    margin-top: 100px;
  }
  .text-block__flat-desc {
    font-size: 16px;
    margin-top: 20px;
  }
  .text-block__more {
    font-size: 16px;
  }
}
@media screen and (max-width: 992px) {
  .image-block {
    padding: 40px 0;
  }
  .image-block:not(:first-child) {
    margin-top: 20px;
  }

  .image4__items {
    grid-template-columns: 1fr 1fr;
  }

  .open-gallery {
    right: 30px;
  }

  .text-page-top {
    padding: 20px 0;
  }
  .text-page-top__title {
    font-size: 26px;
  }

  .text-block {
    padding: 40px 0;
  }
  .text-block--p0 {
    padding: 40px 0 !important;
  }
  .text-block__info {
    display: block;
    max-width: 531px;
  }
  .text-block__info:not(:last-child) {
    margin-bottom: 80px;
  }
  .text-block__info--reverse {
    margin-left: auto;
  }
  .text-block__info--reverse .text-block__info-right {
    padding-left: 0;
    padding-right: 20px;
  }
  .text-block__info-wrap {
    max-width: 100%;
    padding: 0 20px;
  }
  .text-block__info .text-block__title {
    font-size: 26px;
  }
  .text-block__info-right {
    padding: 20px 0 0 20px;
  }
  .text-block__info .text-block__btn {
    margin-top: -20px;
  }
  .text-block__info2--wrap .text-block__info-right {
    padding: 20px 0 0 20px;
  }
  .text-block__title {
    font-size: 26px;
  }
  .text-block__title:not(:first-child) {
    margin-top: 40px;
  }
  .text-block__title:not(:last-child) {
    margin-bottom: 20px !important;
  }
  .text-block__desc {
    font-size: 16px !important;
  }
  .text-block__desc p:not(:last-child) {
    margin-bottom: 30px;
  }
  .text-block__gallery {
    gap: 15px;
  }
  .text-block__articles {
    gap: 80px 20px;
  }
  .text-block__articles:not(:first-child) {
    margin-top: 80px;
  }
  .text-block__articles--four {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .text-block__article-title {
    font-size: 22px;
  }
  .text-block__article-title--small {
    font-size: 18px;
  }
  .text-block__article-link {
    font-size: 16px;
  }
}
@media screen and (max-width: 900px) {
  .text-block__articles--three {
    grid-template-columns: 1fr 1fr;
    max-width: 512px;
  }
}
@media screen and (max-width: 768px) {
  .image__items,
  .image2__items,
  .image3__items,
  .image4__items,
  .image5__items,
  .image6__items,
  .image7__items {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .text-page-top__back {
    padding-left: 0;
  }

  .text-block__title--mb100 {
    margin-bottom: 50px;
  }
  .text-block__title:not(:first-child) {
    margin-top: 50px;
  }
  .text-block__title:not(:last-child) {
    margin-bottom: 25px;
  }
  .text-block__desc {
    font-size: 16px;
  }
  .text-block__desc + .text-block__more {
    margin-top: 20px;
  }
  .text-block__desc p:not(:last-child) {
    margin-bottom: 20px;
  }
  .text-block__desc--mb100 {
    margin-bottom: 50px;
  }
  .text-block__desc:not(:last-child) {
    margin-bottom: 25px;
  }
  .text-block__desc--bg {
    padding: 20px;
  }
  .text-block__desc--border {
    padding: 20px;
    border-width: 5px;
  }
  .text-block__articles {
    grid-template-columns: 1fr;
    gap: 80px 20px;
  }
  .text-block__articles:not(:first-child) {
    margin-top: 50px;
  }
  .text-block__articles--four {
    grid-template-columns: 1fr 1fr;
  }
  .text-block__article-title {
    padding-right: 0;
  }
  .text-block__article-title--small {
    font-size: 16px;
  }
  .text-block__article-desc {
    font-size: 14px;
    margin-top: 11px;
  }
  .text-block__article-link {
    margin-top: 11px;
  }
  .text-block__flats {
    grid-template-columns: 1fr;
    gap: 50px;
  }
  .text-block__gallery {
    gap: 10px;
    grid-template-columns: 1fr 1fr;
  }
  .text-block__info:not(:last-child) {
    margin-bottom: 50px;
  }
  .text-block__info-right {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .text-block__info .text-block__btn {
    margin-top: 20px;
  }
  .text-block__info .swiper-container {
    max-height: unset;
    height: unset;
  }
}
@media screen and (max-width: 576px) {
  .content {
    padding-left: 0;
    padding-right: 0;
  }

  .text-page-top__title {
    font-size: 22px;
  }

  .text-block--p0 {
    padding-top: 0 !important;
  }
  .text-block--pt30 {
    padding-top: 30px;
  }
  .text-block__title {
    font-size: 22px !important;
  }
  .text-block__info3 {
    width: calc(100% + 34px);
    margin-left: -17px;
  }
}
@media screen and (max-width: 400px) {
  .text-block__articles--four {
    grid-template-columns: 1fr;
  }
}
