.image-block,
.text-block {
    padding: 100px 0;
    &:not(:first-child) {
        margin-top: 42px;
    }
    &--p0 {
        padding: 0 !important;
    }
}

.image {
    &__items {
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;
    }
    &__item {
        img {
            width: 100%;
            display: block;
            height: 100%;
            object-fit: cover
        }
    }
}

.image2 {
    &__items {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }
    &__item {
        img {
            width: 100%;
            display: block;
            height: 100%;
            object-fit: cover
        }
    }
}

.image3,
.image5 {
    &__items {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;
        position: relative;
    }
    &__item {
        img {
            width: 100%;
            display: block;
            height: 100%;
            object-fit: cover;
        }
    }
}

.image4 {
    &__items {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 30px;
    }
    &__item {
        img {
            width: 100%;
            display: block;
            height: 100%;
            object-fit: cover
        }
    }
}

.image5 {
    &__item {
        @media screen and (min-width: 768px) {
            &--r13 {
                grid-row: 1/3;
            }
            &--r35 {
                grid-row: 3/5;
            }
            &--r57 {
                grid-row: 5/7;
            }
            &--c12 {
                grid-column: 1/2;
            }
            &--c13 {
                grid-column: 1/3;
            }
            &--c23 {
                grid-column: 2/3;
            }
            &--c34 {
                grid-column: 3/4;
            }
            &--c24 {
                grid-column: 2/4;
            }
        }
    }
}

.image6 {
    &__items {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }
    &__item {
        img {
            width: 100%;
            display: block;
            height: 100%;
            object-fit: cover
        }
        @media screen and (min-width: 768px) {
            &--r13 {
                grid-row: 1/3;
            }
            &--r35 {
                grid-row: 3/5;
            }
            &--c23 {
                grid-column: 2/3;
            }
        }
    }
}

.image7 {
    padding-bottom: 300px;
    &__items {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;
    }
    &__item {
        img {
            width: 100%;
            display: block;
            height: 100%;
            object-fit: cover
        }
        @media screen and (min-width: 768px) {
            &--r13 {
                grid-row: 1/3;
            }
            &--r12 {
                grid-row: 1/2;
            }
            &--r24 {
                grid-row: 2/4;
            }
            &--r46 {
                grid-row: 4/6;
            }
            &--r45 {
                grid-row: 4/5;
            }
            &:nth-child(3n - 2) {
                transform: translateY(200px);
            }
            &:nth-child(3n) {
                transform: translateY(100px);
            }
        }
    }
}

.open-gallery {
    background: #F1F7FF;
    border-radius: 10px;
    width: 165px;
    height: 40px;
    font-size: 15px;
    line-height: 140%;
    color: #7786A5;
    z-index: 2;
    position: absolute;
    bottom: 30px;
    right: 100px;
    z-index: 2;
    span {
        margin-right: 5px;
    }
}

.text-page-top {
    padding: 60px 0 40px;
    &__title {
        font-weight: 700;
        font-size: 40px;
        line-height: 120%;
    }
    &__back {
        margin-top: 20px;
        display: flex;
        align-items: center;
        font-size: 18px;
        line-height: 140%;
        color: #2551AF;
        svg {
            margin-right: 10px;
        }
    }
}

.container--big {
    max-width: 100%;
    padding: 0;
}

.text-block {
    &__title {
        max-width: 970px;
        font-weight: 700;
        font-size: 40px;
        line-height: 120%;
        &:not(:last-child) {
            margin-bottom: 50px;
        }
        &:not(:first-child) {
            margin-top: 100px;
        }
        &--mb100 {
            margin-bottom: 100px;
        }
    }
    &__desc {
        max-width: 970px;
        color: #2A344A;
        font-size: 20px;
        &+.text-block__more {
            margin-top: -30px;
        }
        &-hidden {
            display: none;
        }
        &-show {
            display: unset;
        }
        &-more {
            display: inline-flex;
            &-hide {
                display: none;
            }
            &--active {
                .text-block__desc-more-hide {
                    display: unset;
                }
                .text-block__desc-more-show {
                    display: none;
                }
            }
        }
        p {
            line-height: 160%;
            &:not(:last-child) {
                margin-bottom: 40px;
            }
            button {
                font-size: inherit;
                line-height: inherit;
            }
        }
        &:not(:last-child) {
            margin-bottom: 50px;
        }
        &--bg {
            background: #E1EDFD;
            padding: 40px;
            font-style: italic;
        }
        &--border {
            border: 10px solid #E1EDFD;
            padding: 30px;
            font-style: italic;
        }
        &--mb100 {
            margin-bottom: 100px;
        }
    }
    &__more {
        justify-content: flex-start;
        font-size: 18px;
        line-height: 140%;
        color: #2551AF;
        svg {
            margin-left: 10px;
        }
        &--arrow {
            &:hover {
                svg {
                    margin-left: 0;
                }
            }
        }
    }
    &__img {
        max-width: 970px;
        &:not(:last-child) {
            margin-bottom: 50px;
        }
        img {
            width: 100%;
        }
    }
    &__nav {
        max-width: 970px;
        margin-top: -10px;
    }
    &__btn {
        margin: 40px auto 0;
        border-radius: 10px;
        width: 230px;
        height: 50px;
        font-size: 18px;
    }
    &__gallery {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        &-item {
            img {
                width: 100%;
                display: block;
                height: 100%;
                object-fit: cover
            }
        }
    }
    &__info {
        display: grid;
        grid-template-columns: calc(50% - 15px) calc(50% - 15px);
        gap: 30px;
        @media screen and (min-width: 992px) {
            &--reverse {
                .text-block__info {
                    &-img {
                        margin-left: unset;
                        margin-right: auto;
                    }
                    &-wrap {
                        margin-left: auto;
                    }
                    &-right {
                        order: -1;
                        padding-right: 100px;
                        &--pl0 {
                            padding-left: 0;
                        }
                    }
                }
            }
        }
        &:not(:last-child) {
            margin-bottom: 30px;
        }
        .video-block {
            // height: 900px;
            background: transparent;
            max-width: 905px;
            height: unset;
            margin-left: auto;
            img {
                width: 100%;
            }
        }
        &-right {
            // padding-top: 172px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            padding-left: 100px;
            flex-shrink: 0;
        }
        &-left {
            display: flex;
        }
        &-wrap {
            max-width: 470px;
        }
        .text-block__btn {
            margin-left: 0;
            margin-top: 40px;
        }
        &-img {
            height: 100%;
            margin-left: auto;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .slider {
            max-width: 905px;
        }
        .swiper-container {
            height: 100%;
            max-height: 585px;
        }
    }
    &__info2 {
        &:not(:first-child) {
            margin-top: 100px;
        }
        .text-block__title {
            font-size: 30px;
            line-height: 120%;
            &:not(:last-child) {
                margin-bottom: 40px;
            }
        }
    }
    &__info3 {
        .slider {
            max-width: 570px;
        }
    }
    &__articles {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 100px 30px;
        &--three {
            grid-template-columns: 1fr 1fr 1fr;
        }
        &--four {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
        &--870 {
            max-width: 870px;
        }
        &--1100 {
            max-width: 1100px;
        }
        &--gap70 {
            column-gap: 70px;
        }
        &--gap100 {
            column-gap: 100px;
        }
        &:not(:first-child) {
            margin-top: 100px;
        }
        &:not(:last-child) {
            margin-bottom: 100px;
        }
    }
    &__article {
        &-icon {
            background: #EEF1F5;
            width: 70px;
            height: 70px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                max-width: 40px;
            }
        }
        &-img {
            img {
                width: 100%;
                display: block;
            }
        }
        &-title {
            font-weight: 700;
            font-size: 30px;
            line-height: 120%;
            margin-top: 30px;
            padding-right: 55px;
            &--small {
                font-size: 22px;
            }
        }
        &-desc {
            font-size: 18px;
            line-height: 160%;
            margin-top: 30px;
            color: #2A344A;
        }
        &-link {
            font-size: 18px;
            line-height: 140%;
            color: #2551AF;
            margin-top: 18px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            svg {
                margin-left: 10px;
            }
            &:hover {
                color: #2551AF;
            }
        }
    }
    &__flats {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 100px 30px;
    }
    &__flat {
        &-title {
            font-weight: 700;
            font-size: 40px;
            line-height: 120%;
        }
        &-desc {
            font-size: 18px;
            line-height: 160%;
            margin-top: 30px;
            color: #2A344A;
        }
    }
}

.text-btn {
    color: #2551AF;
    font-size: 18px;
    line-height: 140%;
}

@media screen and (max-width: 1300px) {
    .text-block {
        padding-top: 80px;
        &:not(:first-child) {
            margin-top: 20px;
        }
        &__title,
        &__desc {
            &:not(:last-child) {
                margin-bottom: 40px;
            }
        }
        &__title {}
        &__desc {
            &+.text-block__more {
                margin-top: -20px;
            }
        }
        &__info {
            .text-block__title {
                font-size: 32px;
            }
            .text-block__desc {
                font-size: 18px;
            }
            &--reverse {
                .text-block__info-right {
                    padding-right: 0;
                    padding-left: 35px;
                }
            }
            &-right {
                // padding-left: 0px;
                padding-right: 35px;
            }
        }
    }
    .image-block {
        &:not(:first-child) {
            margin-top: 20px;
        }
    }
    .text-page-top {
        padding: 40px 0 60px;
    }
    .content {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media screen and (max-width: 1152px) {
    .text-page-top {
        padding: 60px 0 20px;
        &__title {
            font-size: 32px;
        }
        &__back {
            font-size: 16px;
        }
    }
    .text-block {
        &__title {
            font-size: 32px;
        }
        &__desc {
            font-size: 18px;
        }
        &__btn {
            font-size: 16px;
            width: 200px;
        }
        &__gallery {
            gap: 20px;
        }
        &__info {
            &-right {
                padding-left: 10px;
            }
        }
        &__info2--wrap {
            display: block;
            max-width: 746px;
            &:nth-child(even) {
                margin-left: auto;
                .text-block__info {
                    &-right {
                        padding-left: 0;
                        padding-right: 66px;
                    }
                }
            }
            .text-block__info {
                &-wrap {
                    max-width: 100%;
                }
                &-right {
                    padding: 40px 0 0 66px;
                }
            }
        }
        .slider {
            max-width: 100%;
        }
        &__articles {
            gap: 100px 20px;
        }
        &__article {
            &-title {
                padding-right: 0;
                margin-top: 20px;
                font-size: 26px;
                font-weight: 500;
                &--small {
                    font-size: 18px;
                }
                &--small2 {
                    font-size: 22px;
                    margin-top: 30px;
                }
                &--small3 {
                    font-size: 16px;
                }
            }
            &-desc {
                font-size: 16px;
                margin-top: 20px;
                &--small {
                    font-size: 14px;
                    margin-top: 11px;
                }
            }
        }
        &__flats {
            grid-template-columns: 1fr 1fr 1fr;
            gap: 100px 40px;
            max-width: 860px;
            margin-top: 100px;
        }
        &__flat {
            &-desc {
                font-size: 16px;
                margin-top: 20px;
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .image-block {
        padding: 40px 0;
        &:not(:first-child) {
            margin-top: 20px;
        }
    }
    .image4 {
        &__items {
            grid-template-columns: 1fr 1fr;
        }
    }
    .open-gallery {
        right: 30px;
    }
    .text-page-top {
        padding: 20px 0;
        &__title {
            font-size: 26px;
        }
    }
    .text-block {
        padding: 40px 0;
        &--p0 {
            padding: 40px 0 !important;
        }
        &__info {
            display: block;
            max-width: 531px;
            &:not(:last-child) {
                margin-bottom: 80px;
            }
            &--reverse {
                margin-left: auto;
                .text-block__info-right {
                    padding-left: 0;
                    padding-right: 20px;
                }
            }
            &-wrap {
                max-width: 100%;
            }
            .text-block__title {
                font-size: 26px;
            }
            &-right {
                padding: 20px 0 0 20px;
            }
            .text-block__btn {
                margin-top: -20px;
            }
        }
        &__info2--wrap {
            .text-block__info-right {
                padding: 20px 0 0 20px;
            }
        }
        .container--big {
            padding: 0 20px;
        }
        &__title {
            font-size: 26px;
            &:not(:first-child) {
                margin-top: 40px;
            }
            &:not(:last-child) {
                margin-bottom: 20px !important;
            }
        }
        &__desc {
            font-size: 16px !important;
            p {
                &:not(:last-child) {
                    margin-bottom: 30px;
                }
            }
        }
        &__gallery {
            gap: 15px;
        }
        &__articles {
            gap: 80px 20px;
            &:not(:first-child) {
                margin-top: 80px;
            }
            &--three {
                grid-template-columns: 1fr 1fr;
                max-width: 512px;
            }
            &--four {
                grid-template-columns: 1fr 1fr 1fr;
            }
        }
        &__article {
            &-title {
                font-size: 22px;
                &--small {
                    font-size: 18px;
                }
            }
            &-link {
                font-size: 16px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .image,
    .image2,
    .image3,
    .image4,
    .image5,
    .image6,
    .image7 {
        &__items {
            grid-template-columns: 1fr;
            gap: 10px;
        }
    }
    .text-page-top {
        &__title {
            // font-size: 32px;
        }
        &__back {
            padding-left: 0;
        }
    }
    .text-block {
        &__title {
            // font-size: 32px;
            &--mb100 {
                margin-bottom: 50px;
            }
            &:not(:first-child) {
                margin-top: 50px;
            }
            &:not(:last-child) {
                margin-bottom: 25px;
            }
        }
        &__desc {
            font-size: 16px;
            &+.text-block__more {
                margin-top: 20px;
            }
            p {
                &:not(:last-child) {
                    margin-bottom: 20px;
                }
            }
            &--mb100 {
                margin-bottom: 50px;
            }
            &:not(:last-child) {
                margin-bottom: 25px;
            }
            &--bg {
                padding: 20px;
            }
            &--border {
                padding: 20px;
                border-width: 5px;
            }
        }
        &__articles {
            grid-template-columns: 1fr;
            gap: 50px;
            &:not(:first-child) {
                margin-top: 50px;
            }
        }
        &__flats {
            grid-template-columns: 1fr;
            gap: 50px;
        }
        &__gallery {
            gap: 10px;
            grid-template-columns: 1fr 1fr;
        }
        &__info {
            &:not(:last-child) {
                margin-bottom: 50px;
            }
            &-right {
                padding-left: 0 !important;
                padding-right: 0 !important;
            }
            .text-block__btn {
                margin-top: 20px;
            }
            .swiper-container {
                max-height: unset;
                height: unset;
            }
        }
    }
}